BasedOnStyle: LLVM

TabWidth: 4
IndentWidth: 4
AccessModifierOffset: 0

UseTab: Always

Language: Cpp

Standard: Cpp11

PointerAlignment: Left

BreakBeforeBinaryOperators: false
EmptyLineAfterAccessModifier: Always

SortIncludes: Never
FixNamespaceComments: false
NamespaceIndentation: All
IndentAccessModifiers: false
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true

ColumnLimit: 80
